[submodule ".registry"]
	path = .registry
	url = https://github.com/mustapha-wasseja/mustapha-wasseja.r-universe.dev
	branch = HEAD
[submodule "knbsdata"]
	path = knbsdata
	url = https://github.com/Mustapha-Wasseja/knbsdata
